@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap');

body {
    background-color: rgb(255, 255, 255);
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: larger;
    overflow-x: hidden;
  }

h1 {
color: #5061DD;
font-size: 90px;
}

input {
    font-family: 'Open Sans', sans-serif;
    font-size: larger;
}

.container {
    width: 100vw;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

textarea {
    margin-top: 60px;
    width: 43vw;
    height: 30vh;
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
    padding: 15px 15px;
    border: 1px solid rgb(30, 30, 153);
    outline: none;
}

.submit-button {
    margin-top: 20px;
    width: 45vw;
    height: 7vh;
    background-color: #5061DD;
    color: white;
    border-radius: 5px;
    border: none;
}