<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <table>
        {% for slide in slideshow %}
        <table class="slide-container">
            <tr>
                <td>
                    <div class="slide">           
                        <h3>{{slide[0].title}}</h3>
                        <div class="content">
                            <img src={{slide[1]}}>
                            <ul>
                                {% for point in slide[0].points %}
                                <li>{{point}}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
        {% endfor %}
    </table>
</body>
</html>