<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <table class="slide-container">
        <tr>
            <td>
                <div class="title-slide">
                    <h2>{{title_slide}}</h2>
                </div>
            </td>
        </tr>
        {% for slide in slideshow %}
        <tr>
            <td>
                <div class="slide">           
                    <h3>{{slide.title}}</h3>
                    <div class="content">
                        <img src="{{url_for('static', filename='placeholder3.jpg')}}">
                        <ul>
                            {% for point in slide.points %}
                            <li>{{point}}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>